# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*




.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/

server/config/auth_cfg.js
server/config/env_cfg.js
server/config/fulu_cfg.js
server/public/
server/node_modules/

db/
logs/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/



.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
